:root {
  --font1: dodgerblue;
  --font2: grey
}

body {
  font-family: Helvetica;
  border: 2px;
  border-color: var(--font1);
  border-style: solid;
  border-radius: 2em;
}


.container, #root, form {
  background-color: #f1f1f1;
  border-radius: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
}

h1, h2, h4 {
  color: var(--font1)
}

h4 {
  font-weight: 200;
}

button {
  font-size: 1em;
  background: #2196F3;
  color: white;
  border-radius: 0.3em;
  border-top:0;
  border-left:0;
}

button:hover {
  background-color: white;
  border-color: #2196F3;
  color: blue;
}
