:root {
  --color1: #45c416;
  --font2: grey
}

body {
  font-family: 'Montserrat', sans-serif;
  border-radius: 2em;
  border-style: solid;
  border-color: var(--color1);
  background-color: white;
  height: 100%;

}

img {
  text-align: center;
}

.container, #root, form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
}

h1, h2, h4 {
  color: var(--color1)
}

h4 {
  font-weight: 200;
}

input {
  padding: 0.5em;
  background-color: #dfffa8;
  border-color: var(--color1);
  border-top: 0;
  border-left: 0;
  border-radius: 0.5em;
}

input:focus {

}

input:active {
  
}

button {
  font-size: 1em;
  background: var(--color1);
  color: white;
  border-radius: 0.3em;
  border-top:0;
  border-left:0;
  transition-duration: 0.7s;
}

button:hover {
  background-color: white;
  border-color: var(--color1);
  color: var(--color1);
}
